.project-card {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 300px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.project-info {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  width: 100%;
  text-align: center;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project-title {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-title:hover {
  color: #ffc107;
}

.github-link img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  vertical-align: middle;
}

.github-link:hover img {
  transform: scale(1.1);
}

.project-info p {
  font-size: 1rem;
  margin-top: 10px;
}


@media (max-width: 768px) {
  .project-card {
      height: 200px;
  }
  
  .project-info {
      padding: 10px;
  }
  
  .project-title {
      font-size: 1.2rem;
  }
}